@namespace liberator url("http://vimperator.org/namespaces/liberator");

[liberator|highlight~=HintImage],
[liberator|highlight~=Hint] {
    z-index: 2147483647;
    position: absolute !important;
}
[liberator|highlight~=Search] {
    display: inline !important;
}

/* Applied only to completion buffer and MOW */
@-moz-document url-prefix(chrome://liberator/) {

    *:-moz-loading, *:-moz-broken { display: none !important; }

    [liberator|highlight~=Completions] {
        width: 100%;
        display: table;
    }
    [liberator|highlight~=CompItem],
    [liberator|highlight~=CompTitle] {
        display: table-row;
    }
    [liberator|highlight~=Completions] > ul {
        display: table-row;
    }
    [liberator|highlight~=CompItem] > *,
    [liberator|highlight~=CompTitle] > * {
        /* disabled for now, since it throws SecurityErrors to the console */
        /* -moz-binding: url(chrome://liberator/content/bindings.xml#compitem-td); */
        display: table-cell;
        vertical-align: middle;
    }

    [liberator|highlight~=CompMsg] {
        height: 1.5em;
        line-height: 1.5em !important;
    }

    .td-span {
        display: inline-block;
        overflow: visible;
        width: 0;
        height: 1.5em;
        line-height: 1.5em !important;
    }
    .td-strut {
        display: inline-block;
        vertical-align: middle;
        height: 16px;
        width: 0;
    }

    .extra-info { color: gray; }

    .times-executed, .time-average { color: green; }
    .time-total { color: red; }

}

/* Applied to completion buffer, MOW, browser window */
@-moz-document url-prefix(chrome://) {

    .liberator-container > * {
        font-family: inherit;
    }

    .liberator-floatbox {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .liberator-container.animation[collapsed='true'] {
        opacity: 0;
        pointer-events: none;
        max-height: 10px !important;
        min-height: 10px;
    }

    .liberator-floatbox > iframe {
        height: 100%;
        width: 100%;
    }

    .liberator-container.animation {
        transition: all 0.2s;
    }

    #liberator-completions {
        -moz-user-focus: ignore;
        overflow: -moz-scrollbars-none !important;
        border-width: 0 !important;
    }

    #liberator-bottombar:-moz-lwtheme {
        text-shadow: none;
    }

    /* all elements in the statusline and commandline need some padding to look good */
    #liberator-statusline {
        font-family: monospace;
        margin: 0;
        -moz-appearance: none;
        border: none !important;
        min-height: 16px !important;
    }
    #liberator-statusline:not([customizing="true"]) :-moz-any(toolbarbutton) {
        border: none !important;
        padding: 0 0 !important;
        background: transparent !important;
        height: 16px !important;
    }
    #liberator-statusline > *,
    #liberator-commandline > * {
        padding: 0 2px;
        font-family: monospace;
    }

    #liberator-commandline.hidden {
        opacity: 0;
        pointer-events: none; /* so we can click through when the command line is hidden */
    }

    #liberator-statusline,
    #liberator-message-toolbar {
        -moz-box-align: center;
    }
    #liberator-statusline[customizing="true"] :-moz-any(#liberator-mode-toolbar, #liberator-message-toolbar, #liberator-status) {
        border: 1px dotted gray;
        min-width: 1em;
        min-height: 1em;
    }
    #liberator-status > * {
        padding: 0 1px;
        margin: 0;
    }
    #liberator-status-ssl {
        -moz-appearance: none;
        width: 16px;
        height: 16px;
        visibility: collapse;
        -moz-image-region: rect(0, 16px, 16px, 0);
    }
    #liberator-status-ssl.verifiedIdentity {
        visibility: visible;
        list-style-image: url(chrome://browser/skin/identity-secure.svg);
    }
    #liberator-status-ssl.verifiedDomain {
        visibility: visible;
        list-style-image: url(chrome://browser/skin/identity-secure.svg);
    }
    #liberator-status-ssl.mixedActiveContent {
        visibility: visible;
        list-style-image: url(chrome://browser/skin/identity-mixed-active-loaded.svg);
    }
    #liberator-status-ssl.mixedDisplayContent {
        visibility: visible;
        list-style-image: url(chrome://browser/skin/identity-mixed-passive-loaded.svg);
    }
    #liberator-status-ssl.mixedActiveBlocked {
        visibility: visible;
        list-style-image: url(chrome://browser/skin/identity-mixed-active-blocked.svg);
    }
    #liberator-status-ssl.notSecure {
        visibility: visible;
        list-style-image: url(chrome://browser/skin/identity-not-secure.svg);
    }

    #liberator-commandline-prompt {
        background-color: inherit;
        margin: 0;
    }
    #liberator-commandline-command {
        background-color: inherit;
        color: inherit;
        margin: 0;
    }
    #liberator-message {
        margin: 0;
    }
    .liberator-hiding {
        opacity: 0;
        visibility: collapse;
        transition-property: opacity, visibility;
        transition-duration: .5s;
    }

    #sidebar {
        max-width: 90% !important;
        min-width: 10% !important;
    }

    /* MOW */

    #liberator-completions,
    #liberator-multiline-output,
    #liberator-multiline-input {
        overflow: hidden;
        color: black;
    }

    #liberator-completions-content,
    #liberator-multiline-output-content,
    #liberator-multiline-input {
        white-space: pre;
        font-family: -moz-fixed;
        margin: 0;
    }

    #liberator-completions-content *,
    #liberator-multiline-output-content *,
    #liberator-commandline-prompt *,
    #liberator-commandline-command {
        font: inherit;
    }

    #liberator-commandline-prompt-text {
        max-width: 0;
        transition-property: max-width;
        transition-duration: 0.25s;
    }

    #liberator-completions-content table,
    #liberator-multiline-output-content table {
        white-space: inherit;
        border-spacing: 0;
    }

    #liberator-completions-content td,
    #liberator-multiline-output-content td,
    #liberator-completions-content th,
    #liberator-multiline-output-content th {
        padding: 0 2px;
    }

    /* for muttator's composer */
    #content-frame, #appcontent {
        border: 0;
    }

    #liberator-commandline-command .textbox-search-icons {
        display: none !important;
    }
}

/* -- customize -- */

@-moz-document url-prefix(chrome://liberator/){
    [liberator|highlight~=Boolean] { color: red!important; }
    [liberator|highlight~=CmdOutput] { white-space: pre!important; }
    [liberator|highlight~=CompDesc] { color: #999999!important; width: 500px!important; max-width: 500px!important; }
    [liberator|highlight~=CompGroup] { color: #D0CFD0!important; background: transparent!important; }
    [liberator|highlight~=CompGroup]:not(:first-of-type) { margin-top: 1ex!important; }
    [liberator|highlight~=CompIcon] { background: #F8F8F8!important; width: 16px!important; min-width: 16px!important; display: inline-block!important; margin-right: .5ex!important; }
    [liberator|highlight~=CompIcon]>img { max-width: 16px!important; max-height: 16px!important; vertical-align: middle!important; }
    [liberator|highlight~=CompItem] { color: #D0CFD0!important; background: transparent!important; }
    [liberator|highlight~=CompItem]>* { height: 18px!important; min-height: 18px!important; padding: 0 0.5ex!important; }
    [liberator|highlight~=CompItem][selected] { color: #D0CFD0!important; background: #666666!important; }
    [liberator|highlight~=CompItem][selected]>* { color: #FFFFFF!important; }
    [liberator|highlight~=CompMsg] { color: #D0CFD0!important; margin-left: 16px!important; }
    [liberator|highlight~=CompResult] { width: 500px!important; max-width: 500px!important; overflow: hidden!important; }
    [liberator|highlight~=CompTitle] { background: rgba(230, 230, 230, 0.1)!important; font-weight: bold!important; }
    [liberator|highlight~=CompTitle]>* { color: #FD971F!important; border-top: 1px solid black!important; border-bottom: 1px solid black!important; padding: 1px 0.5ex!important; }
    [liberator|highlight~=Disabled] { color: red!important; }
    [liberator|highlight~=Enabled] { color: green!important; }
    [liberator|highlight~=ErrorMsg] { color: #F92672!important; }
    [liberator|highlight~=Filter] { color: #29B0FA!important; }
    [liberator|highlight~=Function] { color: navy!important; }
    [liberator|highlight~=HelpArg] { color: #6A97D4!important; }
    [liberator|highlight~=HelpBody] { display: block!important; margin: 1em auto!important; max-width: 100ex!important; }
    [liberator|highlight~=HelpCode] { display: block!important; white-space: pre!important; margin-left: 2em!important; font-family: Terminus, Fixed, monospace!important; }
    [liberator|highlight~=HelpDefault] { margin-right: 1ex!important; white-space: pre!important; }
    [liberator|highlight~=HelpDescription] { display: block!important; }
    [liberator|highlight~=HelpEx] { display: inline-block!important; color: #527BBD!important; font-weight: bold!important; }
    [liberator|highlight~=HelpExample] { display: block!important; margin: 1em 0!important; }
    [liberator|highlight~=HelpExample]::before { content: "Example: "!important; font-weight: bold!important; }
    [liberator|highlight~=HelpInfoLabel] { display: inline-block!important; width: 6em!important;  color: magenta!important; font-weight: bold!important; vertical-align: text-top!important; }
    [liberator|highlight~=HelpInfoValue] { display: inline-block!important; width: 14em!important; text-decoration: none!important;             vertical-align: text-top!important; }
    [liberator|highlight~=HelpInfo] { display: block!important; width: 20em!important; margin-left: auto!important; }
    [liberator|highlight~=HelpItem] { display: block!important; margin: 1em 1em 1em 10em!important; clear: both!important; }
    [liberator|highlight~=HelpKey] { color: #102663!important; }
    [liberator|highlight~=HelpNote] { color: red!important; font-weight: bold!important; }
    [liberator|highlight~=HelpOptInfo] { display: inline-block!important; margin-bottom: 1ex!important; }
    [liberator|highlight~=HelpOpt] { color: #106326!important; }
    [liberator|highlight~=HelpOptionalArg] { color: #6A97D4!important; }
    [liberator|highlight~=HelpSpec] { display: block!important; margin-left: -10em!important; float: left!important; clear: left!important; color: #FF00FF!important; }
    [liberator|highlight~=HelpString] { display: inline-block!important; color: green!important; font-weight: normal!important; vertical-align: text-top!important; }
    [liberator|highlight~=HelpString]::after { content: '"'!important; }
    [liberator|highlight~=HelpString]::before { content: '"'!important; }
    [liberator|highlight~=HelpTOC]>ol ol { margin-left: -1em!important; }
    [liberator|highlight~=HelpTag] { display: inline-block!important; color: #999!important; margin-left: 1ex!important; font-size: 8pt!important; font-weight: bold!important; }
    [liberator|highlight~=HelpTags] { display: block!important; float: right!important; clear: right!important; }
    [liberator|highlight~=HelpTopic] { color: #102663!important; }
    [liberator|highlight~=HelpType] { margin-right: 2ex!important; }
    [liberator|highlight~=HelpWarning] { color: red!important; font-weight: bold!important; }
    [liberator|highlight~=Help] { font-size: 8pt!important; line-height: 1.4em!important; font-family: -moz-fixed!important; }
    [liberator|highlight~=Indicator] { color: #D7005F!important; }
    [liberator|highlight~=InfoMsg] { color: #D0CFD0!important; }
    [liberator|highlight~=Key] { font-weight: bold!important; }
    [liberator|highlight~=Keyword] { color: #F92672!important; }
    [liberator|highlight~=LineNr] { color: orange!important; background: white!important; }
    [liberator|highlight~=Mapping] { color: magenta!important; }
    [liberator|highlight~=Message] { white-space: normal!important; min-width: 100%!important; padding-left: 2em!important; text-indent: -2em!important; display: block!important; }
    [liberator|highlight~=NonText] { color: #B973FF!important; min-height: 16px!important; padding-left: 2px!important; }
    [liberator|highlight~=Null] { color: #005F87!important; }
    [liberator|highlight~=Number] { color: #005F87!important; }
    [liberator|highlight~=Object] { color: maroon!important; }
    [liberator|highlight~=Preview] { color: gray!important; }
    [liberator|highlight~=Question] { color: green!important; background: white!important; font-weight: bold!important; }
    [liberator|highlight~=String] { color: green!important; }
    [liberator|highlight~=TabNumber] { font-weight: bold!important; margin: 0px!important; padding-right: .3ex!important; }
    [liberator|highlight~=Tag] { color: #005F87!important; }
    [liberator|highlight~=Title] { color: #FF005F!important; font-weight: bold!important; }
    [liberator|highlight~=URL] { color: #87FF00!important; text-decoration:  none!important; }
    [liberator|highlight~=URL]:hover { text-decoration: underline!important; cursor: pointer!important; }
    [liberator|highlight~=WarningMsg] { color: red!important; background: white!important; }
    [liberator|highlight~=WarningMsg] { color: #E6DB74!important; }
}

/* highlight defined by common/content/liberator.xul */
@-moz-document url-prefix(chrome://){
    [liberator|highlight~=Bell] { border: none!important; background-color: black!important; }
    [liberator|highlight~=ContentSeparator] { border-top: 1px solid #262426!important; display: -moz-box!important; }
    /* css of mode (INSERT, IGNORE, ...) */
    [liberator|highlight~=ModeMsg] { color: white!important;   background: #3B8ED1!important; border-radius: 1px!important; padding: 0px 5px!important; }
    [liberator|highlight~=MoreMsg] { color: #87FF00!important; background: #121112!important; }
    /* css of message */
    [liberator|highlight~=Normal] { color: #D0CFD0!important; background: rgba(0, 0, 0, 0.7)!important; font-size: 9pt!important; font-family: Consolas, Monaco, monospace!important; }
    /* Find */
    [liberator|highlight~=PromptText] { color: white!important;   background: rgba(51,51,51,0.6)!important; }
    /* ▶ mark */
    [liberator|highlight~=Prompt] { background: url("chrome://liberator/skin/prompt.png")!important; width: 10px!important; background-position: center!important; background-repeat: no-repeat!important; }
    /* css when : is typed */
    [liberator|highlight~=CmdLine] { color: #D0CFD0!important; background: #333333!important; }
    [liberator|highlight~=CmdLine]>* { font-family: monospace!important; }
    /* css of statusline */
    [liberator|highlight~=StatusLine] { color: #D0CFD0!important; background: #333333!important; }
}

[liberator|highlight~=HintActive] { background: #FD971F!important; }
[liberator|highlight~=HintElem] { background: #D6D6D6!important; }
[liberator|highlight~=HintImage] { opacity: .5!important; }
[liberator|highlight~=Hint] { font-family: Monaco, Consolas!important; font-size: 14px!important; font-weight: bold!important; color: white!important; background: #1C1C1C!important; border-color: ButtonShadow!important; border-width: 0px!important; border-style: solid!important; padding: 0px 1px 0px 1px!important; }
[liberator|highlight~=Hint]::after { content: attr(number)!important; }

@-moz-document url-prefix(chrome://) {
    /* IME off */
    #liberator-commandline-command input {
        ime-mode: inactive;
    }
}

/* vim: set fdm=marker sw=4 ts=4 et: */
